<launch>
  <arg name="filename" default="pr2_rosbag" />

  <node name="rosbag_record"
    pkg="rosbag" type="record"
    args="-b 0

    /tf
    /tf_static

    /kinect_head/rgb/camera_info
    /kinect_head/rgb/image_rect_color/compressed
    /kinect_head/depth_registered/image_rect/compressedDepth

    /tracking_ros/segmentation
    /tracking_ros/segmentation_image
    /tracking_ros/segmentor/output/boxes
    /tracking_ros/segmentor/output/centroid

    /joint_states
    /r_gripper_controller/state
    /eus_imitation/robot_action
    /eus_imitation/robot_state
    /eus_imitation/data_collector/record
    /eus_imitation/object_position

    /spacenav/joy
    /controller_LHR_FD35BD42/joy
    /controller_LHR_F7AFBF47/joy

    -O $(arg filename)" output="screen">
  </node>
</launch>

    <!-- /tracking_ros/rgb/image_rect_color/compressed -->
    <!-- /tracking_ros/depth_registered/image_rect -->
    <!-- /tracking_ros/depth_registered/points -->
    <!-- /tracking_ros/processed_image/compressed -->
